.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    align-items: center;
    margin-top: 40px;
}

h1 {
    color: #4D544B;
    font-size: 40px;
}

.inputs-sig {
    display: flex;
    flex-direction: column;
}

.inputs-sig input {
    width: 350px;
    background-color: #D9D9D9;
    color: #4D544B;
    border-radius: 20px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 11px;
    padding-left: 19px;
    margin-bottom: 30px;
}

.inputs-sig label {
    margin-bottom: 5px;
    color: #D2D4D2;
    font-size: 15px;
}

.inputs-sig select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none;
    width: 370px;
    background-color: #D9D9D9;
    color: #4D544B;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 11px;
    padding-left: 19px;
    margin-bottom: 30px;
}

.login-btn {
    font-family: "Roboto", sans-serif;
    border: none;
    border-radius: 20px;
    background-color: #79CB64;
    color: white;
    font-size: 20px;
    padding: 10px 47px 11px 47px;
}


.text {
    margin-top: 60px;
    color: #4D544B;
    font-size: 20px;
}

.signbtn {
    font-family: "Roboto", sans-serif;
    border: none;
    border-radius: 20px;
    background-color: #91E0F9;
    color: #4D544B;
    font-size: 20px;
    margin-top: 80px;
}

.inputs-log label {
    margin-bottom: 5px;
    color: #D2D4D2;
    font-size: 15px;
}